.row {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    border: lightgrey solid thin;
    text-align: center;
}

.hidden {
    background-color: grey;
}

.mine {
    content: url("./Mine.ico");
}