.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    border: lightgrey solid thin;
    text-align: center;
}

.hidden {
    background-color: grey;
}

.mine {
    content: url("./Mine.ico");
}